.show-card__details {
    border: dashed 1px cornflowerblue;
    border: dashed 1px lightyellow;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;

    grid-template-columns: repeat(1, auto);
    @media all and (min-width: 768px) {

        grid-template-columns: repeat(2, 1fr);

    }

}

.show-card__details-img {

}

.show-card__details-info {

}


