* {
    box-sizing: border-box;
}

$font-light: 300;
$font-regular: 400;
$font-bold: 600;

body {
}

body {
    background-color: pink;
    background-color: maroon;
    background-color: darkslategray;
    background-color: #3a3a4a;

    padding: 20px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-bold;
    font-weight: $font-regular;
    font-weight: $font-light;
}
code,
pre,
kbd,
samp {
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-light !important;
    font-size: 14px;
    letter-spacing: .08em;
}

header {
    //border: solid 1px whitesmoke;
}

h1,
h2,
h3 {
    font-weight: $font-bold;
    color: yellow;
}

ul {
    li {
        list-style: none;
    }
}

img {
    max-width: 100%;
}

a {
    font-size: 14px;
}

.nav {
    display: flex;
    margin-bottom: 30px;
    li {
        list-style: none;
        a {
            padding: 0.5em 1em;
            text-decoration: none;
        }
    }
}

.active {
    border: solid 1px white;
}

.main-wrap {
    padding: 20px;
}

li,
p,
span,
a {
    color: white;
}

a:hover {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    li {
    }
}

h1,
h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.job {
    a {
        border: solid 1px white;
        text-decoration: none;
        padding: 5px 10px;
    }
    img {
        max-width: 100px;
    }
}

.show-card-wrap {
    display: flex;
    flex-wrap: wrap;
    .show-card-img-wrap {
        padding: 1rem;
    }
    .show-card {
        flex: 0 0 25%;
    }
    .show-copy-wrap {
        padding: 1rem;
    }
}

.component {
    display: flex;
    &__car {
        background-color: blue;
    }
    &__bike {
        background-color: red;
    }
}

.img-project-detail {
    max-width: 25%;

    img {
        border: solid 1px black;
    }
}
