* {
    box-sizing: border-box;
}

body {
    background-color: pink;
    background-color: darkslategray;
    background-color: maroon;
    background-color: #3a3a4a;
    padding: 2rem;
}

.header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media all and (min-width: 768px) {
        flex-direction: row;
    }
    h1 {
        margin-right: 1rem;
    }
    h2 {

    }
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 1rem 0.5rem;
    border: dotted 1px whitesmoke;
}

// Router -----

.switch-wrapper, .route-wrapper {
    position: relative;
    //border: solid 1px pink;
    > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //border: solid 1px cornflowerblue;
        display: block;
        //width: 100%;
        //height: 100%;
    }
}

.route__item-wrapper {
    border: dashed 1px greenyellow;
    padding: 1rem;
    h2 {
        margin-bottom: 1rem;
    }
    p {
        a {
            color: yellow;
        }

    }
}

.nav-main__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media all and (min-width: 768px) {
        flex-direction: row;
    }
    margin-bottom: 1rem;
    a {
        text-decoration: none;
    }
}

.nav-sub__wrap {
    li {
        a {
            text-decoration: none;
        }
    }
}

.content-sub__wrap {
    padding: 1rem 0;
}

header {
}

ul {
    li {
        list-style: none;
    }
}

img {
    max-width: 100%;
}

.nav {
    display: flex;
    //border: solid 1px red;
    //margin-bottom: 3rem;
    li {
        list-style: none;
        a {
            padding: 0.5em 1em;
            text-decoration: none;
        }
    }
}

.active {
    border: solid 1px white;
}

.main-wrap {
    padding: 1rem;
}

a:hover {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    li {
    }
}

.component {
    display: flex;
    &__car {
        background-color: blue;
    }
    &__bike {
        background-color: red;
    }
}

.card-container {
    border: solid 1px red;
    padding: 1rem;
}

.board {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.board__item {
    flex: 0 0 300px;
    padding: 0.5rem;
    border: solid 1px antiquewhite;
    margin: 1rem;
}

.about__container {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: "header header" "nav main" "footer footer";
    grid-gap: 1rem;
    border: dashed 1px #FFF;
    margin-bottom: 2rem;
    padding: 1rem;
    //grid-column-gap: 10px;

    header, main, nav, footer {
        padding: 1rem;
        border-radius: 2px;
    }

    header {
        grid-area: header;
        background-color: #333;
    }
    main {
        grid-area: main;
        background-color: #999;
    }

    nav {
        grid-area: nav;
        background-color: #900;

    }
    footer {
        grid-area: footer;
        background-color: #444;

    }

}