//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body {
    color: white;
    font-size: 16px;
    font-family: $open-sans;
    //font-weight: $font-bold;
    //font-weight: $font-regular;
    font-weight: $font-light;
}

.heading-page {
    margin-bottom: 1rem;
}

h1 {
    font-weight: $font-bold;
    color: yellow;
    font-size: 2rem;
    small {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 20px;
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.2rem;
}

h1, h2, h3 {
    margin: 0;
    line-height: 1;
    font-weight: $font-light;
    color: yellow;
}

.lead-para {
    text-align: center;
}

p {
    flex-size: .8rem;
    font-weight: $font-light;
    @media all and (min-width: 768px) {
        flex-size: 1rem;
        line-height: 1.4rem;
    }
}

a {
    @include anim-all(200ms, ease-in-out);
    font-size: 1rem;
    text-decoration: none;
}

li,
p,
span,
a {
    color: white;
}

code,
pre,
kbd,
samp {
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-light !important;
    font-size: 1rem;
    letter-spacing: .05rem;
    line-height: 1.2rem;
}