
body {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-bold;
    font-weight: $font-regular;
    font-weight: $font-light;
}

code,
pre,
kbd,
samp {
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-light !important;
    font-size: 6;
    letter-spacing: .1em;
    line-height: 1.65em;
}

h1, h2, h3 {
    margin: 0;
    line-height: 1;
}

p {
    flex-size: 14px;
    @media all and (min-width: 768px) {
        flex-size: 16px;
    }
}

h1 {
    font-weight: $font-bold;
    color: yellow;
    font-size: 24px;

}

h2,
h3 {
    font-weight: $font-light;
    color: yellow;
}

a {
    font-size: 14px;
}

li,
p,
span,
a {
    color: white;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}